html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  
}

#wrapper
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    background-color: black;
    color: white;
    text-align: center;
}

.screen
{
   color: white;
   font-size: 3rem;
   font-family: 'Courier New', Courier, monospace;
   text-align: right;
   padding: 20px 5px;
}

.calc-btn .grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.is-clr
{
    grid-column: span 2;
}

.is-zero
{
    grid-column: span 3;
}

.btn
{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    font-size: 2rem;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    margin: 3px 2px;

}

.btn-orange
{
    background-color:  #df974c;
}

.btn:hover{
    background-color: #ebebeb;
    font-size: 3rem;
    transition: ease 0.1s;
}

.btn-orange:hover
{
    background-color: #dfb07e;
    
}

.btn:active
{
    background-color: #bbbcbe;
    font-weight: bold;
}
